<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Your Classes</h2>
    <a class="btn btn-primary" routerLink="/teacher/create-class">Add Class</a>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let cls of classes">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ cls.name }}</h5>
          <p class="card-text">
            <strong>Code:</strong> {{ cls.code }}<br>
            <strong>Students:</strong> {{ cls.students }}
          </p>
          <a [routerLink]="['/teacher/classes', cls.id]" class="btn btn-outline-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
