<!-- <div class="container mt-5">
    <div class="alert alert-success">
      Bootstrap работает!
    </div>
  </div>
  
<h2>Регистрация</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>Email</label>
  <input type="email" formControlName="email" />
  <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
    Неверный email
  </div>

  <label>Пароль</label>
  <input type="password" formControlName="password" />
  <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
    Минимум 6 символов
  </div>

  <label>Роль</label>
  <select formControlName="role">
    <option value="teacher">Учитель</option>
    <option value="student">Ученик</option>
  </select>

  <button type="submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>
</form> -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h3 class="text-center mb-4">Регистрация</h3>
  
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" />
                <div class="text-danger small" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                  Неверный email
                </div>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Пароль</label>
                <input type="password" formControlName="password" class="form-control" />
                <div class="text-danger small" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                  Пароль обязателен
                </div>
              </div>
  
              <div class="mb-3">
                <label for="role" class="form-label">Выберите роль</label>
                <select formControlName="role" class="form-select">
                  <option value="teacher">Учитель</option>
                  <option value="student">Ученик</option>
                </select>
              </div>              
  
              <button class="btn btn-primary w-100" [disabled]="registerForm.invalid">Зарегистрироваться</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  